<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button expand="block" (click)="topToast()">Top toast</ion-button>
    <ion-button expand="block" (click)="middleToast()">Middle toast</ion-button>
    <ion-button expand="block" (click)="bottomToast()">Bottom toast</ion-button>
    <ion-button expand="block" (click)="buttonToast()">Button toast</ion-button>
  </div>
</ion-content>
